{% extends "base.html" %}

{% block content %}
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Olá, Regis
        </h1>
        <h2 class="subtitle">
          Boas vindas ao Sistema de Comissão de Vendas e Serviços.
        </h2>
      </div>
    </div>
  </section>
  <section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">439</p>
          <p class="subtitle">Clientes</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">59</p>
          <p class="subtitle">Serviços</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">5</p>
          <p class="subtitle">Pedidos em Aberto</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">3</p>
          <p class="subtitle">Notas de Comissão em Aberto</p>
        </article>
      </div>
    </div>
  </section>
  <div class="columns">
    <div class="column is-6">
      <div class="card events-card">
        <header class="card-header">
          <p class="card-header-title">
            Pedidos
          </p>
          <a
            href="#"
            class="card-header-icon"
            aria-label="more options"
          >
            <span class="icon">
              <i
                class="fa fa-angle-down"
                aria-hidden="true"
              ></i>
            </span>
          </a>
        </header>
        <div class="card-table">
          <div class="content">
            <table class="table is-fullwidth is-striped">
              <tbody>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td>Lorum ipsum dolem aire</td>
                  <td class="level-right"><a
                    class="button is-small is-primary"
                    href="#"
                  >Ações</a></td>
                </tr>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td>Lorum ipsum dolem aire</td>
                  <td class="level-right"><a
                    class="button is-small is-primary"
                    href="#"
                  >Ações</a></td>
                </tr>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td>Lorum ipsum dolem aire</td>
                  <td class="level-right"><a
                    class="button is-small is-primary"
                    href="#"
                  >Ações</a></td>
                </tr>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td>Lorum ipsum dolem aire</td>
                  <td class="level-right"><a
                    class="button is-small is-primary"
                    href="#"
                  >Ações</a></td>
                </tr>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td>Lorum ipsum dolem aire</td>
                  <td class="level-right"><a
                    class="button is-small is-primary"
                    href="#"
                  >Ações</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a
            href="#"
            class="card-footer-item"
          >Visualizar Tudo</a>
        </footer>
      </div>
    </div>
    <div class="column is-6">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Busca por Pedidos
          </p>
          <a
            href="#"
            class="card-header-icon"
            aria-label="more options"
          >
            <span class="icon">
              <i
                class="fa fa-angle-down"
                aria-hidden="true"
              ></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="control has-icons-left has-icons-right">
              <input
                class="input is-large"
                type="text"
                placeholder=""
              >
              <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Busca por Clientes
          </p>
          <a
            href="#"
            class="card-header-icon"
            aria-label="more options"
          >
            <span class="icon">
              <i
                class="fa fa-angle-down"
                aria-hidden="true"
              ></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="control has-icons-left has-icons-right">
              <input
                class="input is-large"
                type="text"
                placeholder=""
              >
              <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}