{% extends "base.html" %}

{% block content %}
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Clientes
        </h1>
        <h2 class="subtitle">
          Lista de Clientes
        </h2>
      </div>
    </div>
  </section>
  <div class="columns">
    <div class="column is-12">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Clientes
            <a class="button is-small is-info ml-3" href="{% url 'crm:customer_create' %}">Adicionar</a>
          </p>
          <a
            href="."
            class="card-header-icon"
            aria-label="more options"
          >
            <span class="icon">
              <i
                class="fa fa-angle-down"
                aria-hidden="true"
              ></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="control has-icons-left has-icons-right">
              <input
                class="input is-large"
                type="text"
                placeholder=""
              >
              <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
              </span>
              <table class="table is-fullwidth is-striped">
                <tbody>
                  {% for object in object_list %}
                    <tr>
                      <td width="5%"><i class="fa fa-bell"></i></td>
                      <td>
                        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                      </td>
                      <td class="level-right"><a
                        class="button is-small is-primary"
                        href="."
                      >Ações</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}